* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Condensed", sans-serif;
  object-fit: contain;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  width: 100vw;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
  line-height: 1;
}

body::-webkit-scrollbar {
  display: none;
}

.container {
  width: 90%;
  margin: 0 auto;
  /* min-height: 100vh; */
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 9.6rem;
  padding-top: 8rem;
}

.navigations {
  list-style: none;
  display: flex;
  width: 83rem;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #000;
  height: 9.6rem;
  padding-left: 12.3rem;
  padding-right: 16.5rem;
  position: absolute;
  letter-spacing: 2.7px;
  top: 4rem;
  right: 0;
  background-color: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.774227142333984px);
  font-size: 1.6rem;
  text-transform: uppercase;
  /* z-index: -10; */
}

ul li a {
  color: #fff;
}

.navigations li a:not(.current_tab):hover {
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 3.5rem;
}

.current_tab {
  border-bottom: 3px solid #fff;
  padding-bottom: 3.5rem;
}

a {
  text-decoration: none;
}

.bold {
  font-weight: bold;
  margin-right: 1.1rem;
}

.space,
.body_header,
.destination_location,
.destination_nav,
.destination_head,
.destination_eta,
.crew_title,
.crew_rank,
.crew_name,
.technology_title,
.technology_header,
.technology_channel {
  text-transform: uppercase;
}

hr {
  border: 1px solid #979797;
  opacity: 0.25;
  position: absolute;
  left: 16.7rem;
  right: 80rem;
  z-index: 1;
  /* width: 47.3rem; */
}

.destination_location,
.crew_title,
.technology_title {
  font-size: 2.8rem;
  margin-bottom: 9.7rem;
  letter-spacing: 3px;
}

.number {
  font-weight: bold;
  opacity: 0.25;
  letter-spacing: 4.725px;
  padding-right: 2.4rem;
}
