* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Condensed", sans-serif;
  object-fit: contain;
}

/* body {
  animation: page-transition 0.5s ease-in-out;
}

@keyframes page-transition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
  line-height: 1;
}

body::-webkit-scrollbar {
  display: none;
}

.background_home {
  background-image: url("./assets/home/background-home-desktop.jpg");
}

.container {
  width: 90%;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 9.6rem;
  padding-top: 8rem;
}

.navigations {
  list-style: none;
  display: flex;
  width: 83rem;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #000;
  height: 9.6rem;
  padding-left: 12.3rem;
  padding-right: 16.5rem;
  position: absolute;
  letter-spacing: 2.7px;
  top: 4rem;
  right: 0;
  background-color: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.774227142333984px);
  font-size: 1.6rem;
  text-transform: uppercase;
  /* z-index: -10; */
}

ul li a {
  color: #fff;
}

.navigations li a:not(.current_tab):hover {
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 3.5rem;
}

.current_tab {
  border-bottom: 3px solid #fff;
  padding-bottom: 3.5rem;
}

a {
  text-decoration: none;
}

.bold {
  font-weight: bold;
  margin-right: 1.1rem;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: end;
  max-width: 103rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20rem;
}

.explore {
  width: 27.2rem;
  height: 27.2rem;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.space,
.body_header,
.destination_location,
.destination_nav,
.destination_head,
.destination_eta,
.crew_title,
.crew_rank,
.crew_name,
.technology_title,
.technology_header,
.technology_channel {
  text-transform: uppercase;
}

.body_text {
  width: 45rem;
  /* height: 38.2rem; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.body_header {
  font-size: 2.8rem;
  margin-bottom: 2.4rem;
  color: #d0d6f9;
  letter-spacing: 4.725px;
}

.space {
  font-size: 15rem;
  margin-bottom: 2.4rem;
  font-family: Bellefair;
}

.explore_text {
  color: #0b0d17;
  font-size: 3.2rem;
  font-family: Bellefair;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  padding: 12rem 6.1rem;
  border-radius: 50%;
}

.body_normal {
  font-size: 1.8rem;
  color: #d0d6f9;
  line-height: 3.2rem;
}

hr {
  border: 1px solid #979797;
  opacity: 0.25;
  position: absolute;
  left: 16.7rem;
  right: 80rem;
  z-index: 1;
  /* width: 47.3rem; */
}

/**************Destination*****/

.background_destination {
  background-image: url("./assets/destination/background-destination-desktop.jpg");
}

.destination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 130rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 13rem;
  position: relative;
}

.destination_location,
.crew_title,
.technology_title {
  font-size: 2.8rem;
  margin-bottom: 9.7rem;
  letter-spacing: 3px;
}

.number {
  font-weight: bold;
  opacity: 0.25;
  letter-spacing: 4.725px;
  padding-right: 2.4rem;
}

.destination_img {
  padding-left: 4rem;
}

.destination_text {
  width: 44.5rem;
}

.destination_navigations {
  list-style: none;
  font-size: 1.6rem;
  width: 28.6rem;
  height: 3.4rem;
  display: flex;
  justify-content: space-between;
  color: #d0d6f9;
  margin-top: 7rem;
  margin-bottom: 3.7rem;
}

.destination_head {
  font-size: 10rem;
  margin-bottom: 3rem;
}

.destination_head p {
  font-family: Bellefair;
}

.destination_txt {
  font-size: 1.8rem;
  line-height: 3.2rem;
  color: #d0d6f9;
  font-family: Barlow;
  padding-bottom: 5.4rem;
  border-bottom: 1px solid #383b4b;
}

.destination_eta {
  display: flex;
  position: absolute;
  bottom: 0;
}

.distance_text,
.eta_text {
  font-size: 1.4rem;
  margin-bottom: 1.2rem;
}

.distance_number,
.eta_number {
  font-size: 2.6rem;
  font-family: Bellefair;
}

.distance,
.eta {
  padding-right: 7.9rem;
}

.destination_navigations li a:not(.current_nav):hover {
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 1rem;
}

.current_nav {
  border-bottom: 3px solid #fff;
  padding-bottom: 1rem;
}

/**************Crew*****/

.background_crew {
  background-image: url("./assets/crew/background-crew-desktop.jpg");
}

.crew {
  display: flex;
  flex-direction: row;
  max-width: 130rem;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12rem;
}

/* .commander {
}

.specialist {
  margin-top: 18rem;
} */

.crew_title {
  margin-bottom: 16rem;
}

.crew_rank {
  color: rgba(255, 255, 255, 0.5);
  font-family: Bellefair;
  font-size: 3.2rem;
  margin-bottom: 2rem;
}

.crew_name {
  font-family: Bellefair;
  font-size: 5.6rem;
  margin-bottom: 3rem;
}

.crew_txt {
  color: #d0d6f9;
  font-size: 1.8rem;
  line-height: 3.2rem;
  /* margin-bottom: 13rem; */
  width: 44.4rem;
}

.crew_navigations {
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 13.2rem;
  justify-content: space-between;
  position: absolute;
  bottom: 9.4rem;
}

.crew_text {
  position: relative;
}

.crew_navigations li {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
}

.crew_navigations li.current_crew {
  background-color: #fff;
}

.crew_navigations li:not(.current_crew):hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.crew_navigations li:hover {
  cursor: pointer;
}

.crew_navigations li a span {
  padding-right: 1.5rem;
  border-radius: 50%;
}

/***********Technology*****/

.background_technology {
  background-image: url("./assets/technology/background-technology-desktop.jpg");
}

.technology {
  display: flex;
  flex-direction: row;
  width: 90%;
  max-width: 160rem;
  justify-content: space-between;
  /* margin-left: auto; */
  /* margin-right: auto; */
  margin-top: 12rem;
  position: absolute;
  right: 0;
}

.technology_title {
  margin-bottom: 16rem;
}

.technology_text {
  display: flex;
}

.technology_header {
  color: #d0d6f9;
  font-size: 1.6rem;
  letter-spacing: 0.27rem;
  margin-bottom: 2.8rem;
}

.technology_channel {
  color: #fff;
  font-family: Bellefair;
  font-size: 5.6rem;
  margin-bottom: 3.8rem;
}

.technology_normal {
  color: #d0d6f9;
  font-size: 1.8rem;
  line-height: 3.2rem;
  width: 44.4rem;
}

.technology_nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding-right: 8rem;
  height: 29.6rem;
}

.technology_nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8.8rem;
  height: 8.8rem;
  border-radius: 50%;
  color: #fff;
  font-family: Bellefair;
  font-size: 3.3rem;
  letter-spacing: 0.2rem;
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.technology_nav a.current_technology {
  color: #0b0d17;
  background-color: #fff;
  border: 1px solid rgba(255, 255, 255);
}

.technology_nav a:not(.current_technology):hover {
  border: 1px solid rgba(255, 255, 255);
}
